[Unit]
Description=JSON-SERVER Rest API
PartOf=cosmregistry-api.target
After=network.target

[Service]
Group=cosmapi
User=cosmapi
WorkingDirectory=/home/cosmapi/Cosmregistry-API
Type=simple
ExecStart=npx json-server --config "./config/json-server.json" "./data/data.json"
Restart=on-failure

[Install]
WantedBy=cosmregistry-api.target
